# fly.toml app configuration file generated for nyc-outliers-detector on 2026-02-18T10:50:19+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nyc-outliers-detector'
primary_region = 'iad'

[build]

[env]
  PORT = '8080'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 500

[[vm]]
  cpu_kind = 'performance'
  cpus = 4
  memory_mb = 8192
